__pycache__
.DS_Store
.ipynb_checkpoints
build/**
.vscode
.pytest_cache
.cache

# Old autosummary
_autosummary

# All autosummary API documentation is put under folder named help
help/

# Must be build from deps/furo
source/_static/styles/furo.css

