<!doctype html>
<html class="no-js"{% if language is not none %} lang="{{ language }}"{% endif %}>
  <head>
    {%- block site_meta -%}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="color-scheme" content="light dark">

      <script>
          /**
           * Redirect internal /glossary.html#term-XXX links to the glossary section at the main website
           */
          function doGlossaryRedirectIfNeeded() {
              const l = window.location;
              if(l.pathname.includes("glossary.html")) {
                  const h = l.hash;
                  let termSlug, url;
                  if(h) {
                      termSlug = h.replace("#term-", "").toLowerCase();
                      url = `https://tradingstrategy.ai/glossary/${termSlug}`;
                  } else {
                      url = `https://tradingstrategy.ai/glossary`;
                  }
                  if(l.protocol == "https:" && !l.search.includes("debug")) {
                      window.location.href = url;
                  } else {
                      console.log("No redirect to", url, "because not on a website:", window.location.protocol);
                  }
              }
          }
          doGlossaryRedirectIfNeeded();
      </script>

      <!-- Hardcoded web font urls for now -->
      <link rel="preload" href="https://tradingstrategy.ai/_app/assets/65-4308d60c.woff2" as="font" crossorigin="anonymous">
      <link rel="preload" href="https://tradingstrategy.ai/_app/assets/75-15c42a4f.woff2" as="font" crossorigin="anonymous">
      <link rel="preload" href="https://tradingstrategy.ai/_app/assets/55-b0d6fe58.woff2" as="font" crossorigin="anonymous">
      <link rel="preload" href="https://tradingstrategy.ai/_app/assets/latin-400-normal-547a2c05.woff2" as="font" crossorigin="anonymous">

    {%- if metatags %}
        {{ metatags }}
    {% endif -%}

    {# Make sure all pages have a description or Bing does not like us #}
    {% if 'name="description"' not in metatags %}
      <meta name="description" content="Trading Strategy API documentation">
    {% endif %}


    {%- block linktags %}
        {%- if hasdoc('about') -%}
          <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}" />
        {%- endif -%}
        {%- if hasdoc('genindex') -%}
          <link rel="index" title="{{ _('Index') }}" href="{{ pathto('genindex') }}" />
        {%- endif -%}
        {%- if hasdoc('search') -%}
          <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />
        {%- endif -%}
        {%- if hasdoc('copyright') -%}
          <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}" />
        {%- endif -%}
        {%- if next -%}
          <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}" />
        {%- endif -%}
        {%- if prev -%}
          <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}" />
        {%- endif -%}
        {#- rel="canonical" (set by html_baseurl) -#}
        {%- if pageurl %}
        <link rel="canonical" href="{{ pageurl|e }}" />
        {%- endif %}
    {%- endblock linktags %}

    {# Favicon #}
    {%- if favicon_url -%}
      <link rel="shortcut icon" href="{{ favicon_url }}"/>
    {%- endif -%}

    {#- Generator banner -#}
    <meta name="generator" content="sphinx-{{ sphinx_version }}, furo {{ furo_version }}"/>

    {%- endblock site_meta -%}

    {#- Site title -#}
    {%- block htmltitle -%}
      {# See Sphinx monkey patch in conf.py #}
      {% if 'title' in metas %}
        <title>{{ metas.title }}</title>
      {% elif not docstitle %}
        <title>{{ title|striptags|e }}</title>
      {% elif pagename == master_doc %}
        <title>{{ docstitle|striptags|e }}</title>
      {% else %}
        <title>{{ title|striptags|e }} - {{ docstitle|striptags|e }}</title>
      {% endif %}
    {%- endblock -%}

    {%- block styles -%}

    {# Custom stylesheets #}
    {%- block regular_styles -%}
    {%- for css in css_files -%}
      {% if css|attr("filename") -%}
        {{ css_tag(css) }}
      {%- else -%}
        <link rel="stylesheet" href="{{ pathto(css, 1)|e }}" type="text/css" />
      {%- endif %}
    {% endfor -%}
    {%- endblock regular_styles -%}

    {#- Theme-related stylesheets -#}
    {%- block theme_styles %}
    {% include "partials/_head_css_variables.html" with context %}
    {%- endblock -%}

    {%- block extra_styles %}
    {%- endblock -%}

    {%- endblock styles -%}

    {#- Custom front matter #}
    {%- block extrahead -%}{%- endblock -%}

 {%- block scripts -%}

    {# Custom JS #}
    {%- block regular_scripts -%}
    {% for path in script_files -%}
      {{ js_tag(path) }}
    {% endfor -%}
    {%- endblock regular_scripts -%}

    {# Theme-related JavaScript code #}
    {%- block theme_scripts -%}
    {%- endblock -%}

    {%- endblock scripts -%}
  </head>
  <body>
    {% block body %}
    <script>
      document.body.dataset.theme = localStorage.getItem("theme") || "auto";
    </script>
    {% endblock %}


  </body>
</html>
