/* Fonts injected in base.html */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      font-family: Neue Haas Grotesk Display,Helvetica Neue,Helvetica,Arial,sans-serif;
      font-weight: 600;
}

ol li, p, ul li {
      font-family: Source Serif Pro, sans-serif;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.6;
}

.toctree-wrapper.compound .caption {
      text-transform: none;
      font-family: Neue Haas Grotesk Display,Helvetica Neue,Helvetica,Arial,sans-serif;
      font-weight: 600;
      font-size: 1rem;
}