/* Fonts injected in base.html */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      font-family: Neue Haas Grotesk Display,Helvetica Neue,Helvetica,Arial,sans-serif;
      font-weight: 600;
}

ol li, p, ul li {
      font-family: Source Serif Pro, sans-serif;
      /*font-size: 1rem;
      font-weight: 300;
      line-height: 1.6;*/
}

.toctree-wrapper.compound .caption {
      text-transform: none;
      font-family: Neue Haas Grotesk Display,Helvetica Neue,Helvetica,Arial,sans-serif;
      font-weight: 600;
      font-size: 1rem;
}

/* Footer text size */
.bottom-of-page .left-details {
    font-size: var(--font-size--small);
}

/* Footer warning text */
.text-warning {
    color: #F62F2F;
}

/* Large intro images */
.img-architecture {
    margin-bottom: 1rem;
}

/* Color fix for the dark theme in notebooks */
.nboutput .rendered_html thead tr,
.nboutput .rendered_html tbody tr:nth-child(even) {
    background: #fff;
}

.nboutput .rendered_html tbody tr:hover {
    background: #ADD8E6;
}

/* Increase sidebar with, so our long module names do not get chopped up */
.sidebar-container {
    width: 20em;
}
